form {
  width: 90%;
  max-width: 300px;
  background-color: #fff;
  padding: 33px 40px;
  display: flex;
  align-content: center;
  flex-direction: column;
  border-radius: 1rem;
}

label {
  text-align: center;
  color: wheat;
  font-weight: bold;
  font-size: #1e1e1f;
  font-size: 24px;
  text-shadow: -1px 0 black, 0 1px yellow, 1px 0 black, 0 -1px red;
  margin-bottom: 26px;
}

textarea {
  background-color: #f9fbfc;
  border: 2px, solid #202329;
  border-radius: 0.4rem;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
  color: #1e1e1f;
  font-size: 20px;
  text-align: center;
  padding: 12px;
  height: 96px;
  width: calc(100%-25px);
}

textarea::placeholder {
  color: #a5a5a5;
  font-family: "Montserrat";
  font-weight: 400;
}

textarea:focus {
  outline-color: wheat;
  box-shadow: -1px 3px 15px rgba(235, 162, 121, 0.5);
}

.TodoForm-buttonContainer {
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.TodoForm-button {
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  color: #202329;
  font-weight: 400;
  width: 120px;
  height: 48px;
  border-radius: 2px;
  border: none;
  font-family: "Montserrat";
}

.TodoForm-button--add {
  border-radius: 0.5rem;
  background-color: wheat;
  box-shadow: 0px 3px 10px rgba(247, 102, 18, 0.5);
}

.TodoForm-button--cancel {
  background: transparent;
  border-radius: 0.5rem;
  box-shadow: 0px 3px 10px rgba(37, 37, 37, 0.5);
}
